<div class="page-header">
  <%= link_to online_students_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to @online_student, :class => 'btn btn-primary' do %>
    <i class="icon-info-sign icon-white"></i>
    Show
  <% end %>
  <h1>Editing Application for Online Student</h1>
</div>

<%= render 'form' %>

