<div class="page-header">
  <%= link_to online_students_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <h1>New Application to VidyaPoshak</h1>
  <h3>Please fill this form and submit</h3>
</div>

<%= render 'form' %>

